html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#navbar {
  background-color: navy;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#nav-list {
  display: flex;
  flex-direction: row;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 1rem 2rem;
}

a:hover {
  background-color: black;
}
.welcome-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #050A30 20%, #000C66 40%, #0000FF 60%, #7EC8E3 80%);
  margin-bottom: 0;
}

li {
  list-style: none;
}

h1 {
  color: white;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 999;
}

.welcome-section > p {
  color: white;
  font-size: 1.5rem;
}

.about-me-section {
  margin-top: 4rem;
  text-align: center;
}

.about-me-section > h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-me-text > p {
  color: white;
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  margin-right: 2rem;
}

.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.tech-stack-section {
  text-align: center;
  margin: 6rem 0;
}

.tech-stack-content {
  display: flex;
  justify-content: center;
}

.skills {
  margin-right: 4rem;
}

.skills > h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.skills ul {
  list-style-type: disc;
  margin-left: 2rem;
}

.projects-section {
  text-align: center;
  margin: 6rem 0;
}

.projects-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  background-color: #75E6DA;
  border-radius: 8px;
  text-align: center;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project p {
  font-size: 1rem;
}

.contact-section {
 background-color: blue;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0;
}

.contact-section-header {
  text-align: center;
  margin-bottom: 2rem;
   color: white;
}

.contact-section-header h2 {
  color: white;
  font-size: 2rem;
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.contact-details {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.btn.contact-details i {
  margin-right: 0.5rem;
}
